In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols, glm
import numpy as np
from IPython import display

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# Data Import
raw_data = pd.read_csv('/content/drive/MyDrive/student_math_grades.csv')
raw_data.head(2)

,school,sex,age,address,famsize,pstatus,medu,fedu,mjob,fjob,...,higher,internet,famrel,freetime,goout,dalc,walc,health,absences,grades
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,4,3,4,1,1,3,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,5,3,3,1,1,3,4,6

In [ ]:
# Sanity Check
print("Shape: " + str(raw_data.shape))
SC = []
for i in raw_data.columns:
  SC.append(raw_data[i].value_counts())
print(SC)

Shape: (395, 30)
[GP    349
MS     46
Name: school, dtype: int64, F    208
M    187
Name: sex, dtype: int64, 16    104
17     98
18     82
15     82
19     24
20      3
22      1
21      1
Name: age, dtype: int64, U    307
R     88
Name: address, dtype: int64, GT3    281
LE3    114
Name: famsize, dtype: int64, T    354
A     41
Name: pstatus, dtype: int64, 4    131
2    103
3     99
1     59
0      3
Name: medu, dtype: int64, 2    115
3    100
4     96
1     82
0      2
Name: fedu, dtype: int64, other       141
services    103
at_home      59
teacher      58
health       34
Name: mjob, dtype: int64, other       217
services    111
teacher      29
at_home      20
health       18
Name: fjob, dtype: int64, course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64, mother    273
father     90
other      32
Name: guardian, dtype: int64, 1    257
2    107
3     23
4      8
Name: traveltime, dtype: int64, 2    198
1    105
3     65
4     27
Name: studytime, dtype: int64, 0    312
1     50
2     17
3     16
Name: failures, dtype: int64, no     344
yes     51
Name: schoolsup, dtype: int64, yes    242
no     153
Name: famsup, dtype: int64, no     214
yes    181
Name: paid, dtype: int64, yes    201
no     194
Name: activities, dtype: int64, yes    314
no      81
Name: nursery, dtype: int64, yes    375
no      20
Name: higher, dtype: int64, yes    329
no      66
Name: internet, dtype: int64, 4    195
5    106
3     68
2     18
1      8
Name: famrel, dtype: int64, 3    157
4    115
2     64
5     40
1     19
Name: freetime, dtype: int64, 3    130
2    103
4     86
5     53
1     23
Name: goout, dtype: int64, 1    276
2     75
3     26
5      9
4      9
Name: dalc, dtype: int64, 1    151
2     85
3     80
4     51
5     28
Name: walc, dtype: int64, 5    146
3     91
4     66
1     47
2     45
Name: health, dtype: int64, 0     115
2      65
4      53
6      31
8      22
10     17
14     12
12     12
3       8
16      7
7       7
5       5
18      5
20      4
11      3
9       3
13      3
15      3
22      3
1       3
38      1
30      1
40      1
23      1
19      1
28      1
75      1
21      1
24      1
56      1
26      1
54      1
25      1
17      1
Name: absences, dtype: int64, 10    56
11    47
0     38
15    33
8     32
13    31
12    31
9     28
14    27
16    16
6     15
18    12
7      9
5      7
17     6
19     5
20     1
4      1
Name: grades, dtype: int64]

In [ ]:
# Data Cleaning
raw_data['school'].replace({"GP":1, "MS":0}, inplace = True)
raw_data['sex'].replace({"M":1, "F":0}, inplace = True)
raw_data['address'].replace({"U":1, "R":0}, inplace = True)
raw_data['famsize'].replace({"LE3":1, "GT3":0}, inplace = True)
raw_data['pstatus'].replace({"T":1, "A":0}, inplace = True)
raw_data['schoolsup'].replace({"yes":1, "no":0}, inplace = True)
raw_data['famsup'].replace({"yes":1, "no":0}, inplace = True)
raw_data['paid'].replace({"yes":1, "no":0}, inplace = True)
raw_data['activities'].replace({"yes":1, "no":0}, inplace = True)
raw_data['nursery'].replace({"yes":1, "no":0}, inplace = True)
raw_data['higher'].replace({"yes":1, "no":0}, inplace = True)
raw_data['internet'].replace({"yes":1, "no":0}, inplace = True)
df = pd.concat([raw_data, pd.get_dummies(raw_data['mjob'], prefix = 'm', drop_first=True)], axis = 1)
df = pd.concat([df, pd.get_dummies(raw_data['fjob'], prefix = 'f', drop_first=True)], axis = 1)
df = pd.concat([df, pd.get_dummies(raw_data['reason'], prefix = 'reason', drop_first=True)], axis = 1)
df = pd.concat([df, pd.get_dummies(raw_data['guardian'], prefix = 'guardian', drop_first=True)], axis = 1)
df.drop(columns = ['mjob', 'fjob', 'reason', 'guardian'], inplace = True)

***Linear Reg - Backward Stepwise Regression***

In [ ]:
# Linear Reg - Backward Stepwise Regression.
mod0 = ols('grades ~ medu + failures', data = df).fit()
print(mod0.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 grades   R-squared:                       0.148
Model:                            OLS   Adj. R-squared:                  0.144
Method:                 Least Squares   F-statistic:                     34.13
Date:                Wed, 04 May 2022   Prob (F-statistic):           2.16e-14
Time:                        07:26:12   Log-Likelihood:                -1129.5
No. Observations:                 395   AIC:                             2265.
Df Residuals:                     392   BIC:                             2277.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      9.4821      0.621     15.267      0.000       8.261      10.703
medu           0.5845      0.201      2.911      0.004       0.190       0.979
failures      -2.0168      0.296     -6.824      0.000      -2.598      -1.436
==============================================================================
Omnibus:                       35.775   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               42.955
Skew:                          -0.760   Prob(JB):                     4.70e-10
Kurtosis:                       3.545   Cond. No.                         9.63
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Adj. R-squared: 0.144 is low in terms of Marketing, but ***acceptable*** in Sociology.

**Falk and Miller (1992)** recommended that R2 values should be equal to or greater than 0.10 for the variance explained of a particular endogenous construct to be deemed adequate.
**Cohen (1988)** suggested R2 values for endogenous latent variables are assessed as follows: 0.26 (substantial), 0.13 (moderate), 0.02 (weak). 

*The there’s only one variable having a negative impact on the outcome, “failures”, which means number of past class failures. It indicates that the number of past class failures causes final failure.*

*Based on the model above, the there’s two variable having significant impact on the outcome, “medu” and “failures”.*

*According to the attribute information, we know the mother's education is out of control. Therefore, the only way is decreasing the number of past class failures of students.*

**OR% in Logistic Regressiona**

In [ ]:
df['grades'].replace({20:1, 19:1, 18:1, 17:1, 16:1, 15:1, 14:1, 13:1, 
                              12:1, 11:1, 10:1, 9:1, 8:1, 7:1, 6:0, 5:1, 4:1,
                              3:1, 2:1, 1:0}, inplace = True)
df['grades'].head()

0    0
1    0
2    1
3    1
4    1
Name: grades, dtype: int64

In [ ]:
mod1 = glm('grades ~ school + sex + age + address + famsize + pstatus + medu + fedu + \
traveltime + studytime + failures + schoolsup + famsup + paid + activities + \
nursery + higher + internet + famrel + freetime + goout + dalc + walc + health \
+ absences + m_health + m_other + m_services + m_teacher + f_health + f_other + \
f_services + f_teacher + reason_home + reason_other + reason_reputation + \
guardian_mother + guardian_other', data = df).fit()
print(mod1.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 grades   No. Observations:                  395
Model:                            GLM   Df Residuals:                      356
Model Family:                Gaussian   Df Model:                           38
Link Function:               identity   Scale:                         0.10635
Method:                          IRLS   Log-Likelihood:                -97.352
Date:                Wed, 04 May 2022   Deviance:                       37.861
Time:                        07:26:12   Pearson chi2:                     37.9
No. Iterations:                     3
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             0.9078      0.375      2.421      0.015       0.173       1.643
school               -0.0964      0.063     -1.535      0.125      -0.220       0.027
sex                   0.0989      0.040      2.503      0.012       0.021       0.176
age                  -0.0203      0.017     -1.183      0.237      -0.054       0.013
address               0.0128      0.046      0.276      0.782      -0.078       0.104
famsize               0.0128      0.039      0.332      0.740      -0.063       0.089
pstatus               0.0189      0.057      0.329      0.742      -0.094       0.132
medu                  0.0001      0.026      0.005      0.996      -0.050       0.050
fedu                  0.0056      0.022      0.254      0.799      -0.038       0.049
traveltime           -0.0272      0.027     -1.011      0.312      -0.080       0.026
studytime             0.0333      0.023      1.458      0.145      -0.011       0.078
failures             -0.0626      0.026     -2.372      0.018      -0.114      -0.011
schoolsup             0.0231      0.053      0.438      0.662      -0.080       0.127
famsup               -0.0679      0.038     -1.787      0.074      -0.142       0.007
paid                  0.0834      0.038      2.200      0.028       0.009       0.158
activities           -0.0159      0.035     -0.452      0.651      -0.085       0.053
nursery              -0.0036      0.044     -0.084      0.933      -0.089       0.082
higher                0.1076      0.085      1.262      0.207      -0.059       0.275
internet              0.0136      0.049      0.279      0.781      -0.082       0.109
famrel                0.0139      0.019      0.715      0.475      -0.024       0.052
freetime              0.0244      0.019      1.296      0.195      -0.013       0.061
goout                -0.0379      0.018     -2.124      0.034      -0.073      -0.003
dalc                 -0.0159      0.026     -0.604      0.546      -0.067       0.036
walc                  0.0501      0.020      2.547      0.011       0.012       0.089
health               -0.0088      0.013     -0.694      0.488      -0.034       0.016
absences              0.0087      0.002      3.781      0.000       0.004       0.013
m_health              0.0915      0.089      1.031      0.302      -0.082       0.265
m_other               0.0366      0.057      0.647      0.518      -0.074       0.148
m_services            0.0607      0.063      0.962      0.336      -0.063       0.184
m_teacher             0.0206      0.082      0.252      0.801      -0.140       0.181
f_health              0.1213      0.114      1.062      0.288      -0.102       0.345
f_other              -0.0116      0.081     -0.143      0.886      -0.171       0.147
f_services            0.0172      0.084      0.205      0.838      -0.147       0.182
f_teacher            -0.0076      0.103     -0.074      0.941      -0.209       0.194
reason_home          -0.0335      0.044     -0.763      0.446      -0.120       0.053
reason_other          0.0380      0.065      0.586      0.558      -0.089       0.165
reason_reputation     0.0096      0.046      0.209      0.835      -0.080       0.099
guardian_mother       0.0156      0.043      0.360      0.719      -0.069       0.100
guardian_other        0.0587      0.079      0.741      0.459      -0.097       0.214
=====================================================================================

In [ ]:
# OR%
(np.exp(mod1.params)-1) * 100

Intercept            147.882754
school                -9.190385
sex                   10.399736
age                   -2.012325
address                1.288653
famsize                1.292575
pstatus                1.908479
medu                   0.012812
fedu                   0.561831
traveltime            -2.681922
studytime              3.382105
failures              -6.068424
schoolsup              2.336930
famsup                -6.566244
paid                   8.702356
activities            -1.581724
nursery               -0.364149
higher                11.365173
internet               1.370934
famrel                 1.402131
freetime               2.472229
goout                 -3.714487
dalc                  -1.573432
walc                   5.141430
health                -0.880035
absences               0.869592
m_health               9.579293
m_other                3.730081
m_services             6.261773
m_teacher              2.085347
f_health              12.892039
f_other               -1.151744
f_services             1.733433
f_teacher             -0.759618
reason_home           -3.296454
reason_other           3.872349
reason_reputation      0.960188
guardian_mother        1.569108
guardian_other         6.040504
dtype: float64